    body {
        width: 100%;
        height: 100%
    }
    
    header {
        display: flex;
        justify-content: space-between;
        background-color: #373867;
        width: 100%;
        height: 51px;
        padding: 13px 0;
    }
    
    button {
        width: 100px;
        height: 50px;
        border-radius: 5%
    }
    
    .buttons {
        display: flex;
        justify-content: space-around;
    }
    
    .colorError {
        color: red;
    }
    
    .errorEmail {
        display: none;
    }
    
    .passwordError {
        display: none;
    }
    
    .login {
        background-color: #AACE9B;
        border: none;
    }
    
    .Login-container {
        padding: 5%;
    }
    
    h2 {
        display: flex;
        justify-content: center;
    }
    
    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    
    li {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    input {
        border-radius: 5px;
        height: 37px;
        width: 98%;
    }
    
    .sidebar-menu {
        width: 30px;
        height: 30px;
        margin-right: 13px;
    }
    
    .rr-logo {
        height: 51px;
        margin: 0 13px;
    }
    
    h1 {
        font-size: 40px;
        color: white;
        float: right;
        font-weight: 700;
    }
    
    form {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .form-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 5%;
        Border: 5px solid rgb(194, 193, 193);
    }
    /* .Login-container {
        margin-top: 77px;
        padding: 5%;
        width: 90%;
    } */
    
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 24px;
    }
    
    .box-color-footer {
        width: 100%;
        height: 5px;
        border-radius: 5px;
        background-color: #AACE9B;
    }
    
    .social-media {
        display: flex;
        justify-content: space-between;
        width: 254px;
        margin-bottom: 24px;
    }
    
    .city {
        margin-bottom: 24px;
    }
    
    .footer-description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .modal-header {
        padding: 2px 16px;
        background-color: rgb(170, 206, 155);
        color: white;
    }
    /* Modal Body */
    
    .modal-body {
        padding: 2px 16px;
    }
    /* Modal Footer */
    
    .modal-footer {
        padding: 2px 16px;
        background-color: rgb(170, 206, 155);
        color: white;
    }
    /* Modal Content */
    
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation-name: animatetop;
        animation-duration: 0.4s
    }
    /* Add Animation */
    
    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    
    .modal-content2 {
        display: flex;
        flex-direction: column;
    }
    
    .modal-content {
        display: none;
    }
    
    @media (min-width:769px) {
        .sidebar-menu {
            display: none;
        }
        header {
            display: flex;
            justify-content: flex-start;
        }
        h1 {
            margin-left: 30%;
        }
    }
    
    @media (min-width: 481px) {
        footer {
            display: flex;
            align-items: flex-start;
        }
        .footer-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .footer-description {
            display: flex;
            align-items: flex-start;
        }
        li {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding: 5%;
        }
        .block-login {
            display: flex;
            flex-direction: row;
        }
    }
    
    @media (min-width: 769px) {
        footer {
            position: relative;
            padding: 20px 24px;
        }
        .footer-description {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }
        .footer-text {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }