<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script href="../javascript/sing-up.js"></script>
    <link rel="stylesheet" href="../styles/sing-up.css">
    <title>Document</title>
</head>

<body>
    <header>
        <img class="rr-logo" src="../assets/icons/trackgenix-logo.png" alt="logo-header">
        <h1>
            Trackgenix SA
        </h1>
        <img class="sidebar-menu" src="../assets/icons/sidebar-icon.png" alt="sidebar">
    </header>
    <div class="Login-container">
        <div class="form-container">
            <p>
                Log In
            </p>
            <div>

            </div>
        </div>
    </div>
    <footer>
        <div class="box-color-footer"></div>
        <div class="footer-description">
            <div class="social-media">
                <a href="#">
                    <img class="icon-links" src="../assets/icons/In.png" alt="Linkedin">
                </a>
                <a href="#">
                    <img class="icon-links" src="../assets/icons/twitter.png" alt="twitter">
                </a>
                <a href="#">
                    <img class="icon-links" src="../assets/icons/face.png" alt="facebook">
                </a>
                <a href="#">
                    <img class="icon-links" src="../assets/icons/Instagram.png" alt="Instagram">
                </a>
                <a href="#">
                    <img class="icon-links" src="../assets/icons/git.png" alt="git">
                </a>
            </div>
            <div class="footer-text">
                <p class="city">
                    Rosario, Argentina
                </p>
                <p>
                    Copyright © 2022 Radium Rocket. All rights reserved.
                </p>
            </div>
        </div>
    </footer>

</body>

</html>