@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
    /* width: 1440px; */
    height: max-content;
    font-family: 'Roboto', sans-serif;
    color: #373867;
}

header {
    background-color: #373867;
    height: 51px;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
}

h1 {
    font-size: 40px;
    color: white;
    float: right;
    font-weight: 700;
}

ol {
    list-style-type: decimal;
    font-size: 20px;
}

.container-logo {
    width: 350px;
    margin-left: 43px;
}

.rr-logo {
    height: 51px;
}

aside {
    display: inline-block;
    position: sticky;
    top: 0px;
    background-color: #aace9b;
    width: 158px;
    height: 860px;
    padding: 20px 13px;
}

aside>span {
    display: inline-block;
    font-size: 14px;
    color: #373867;
    margin-bottom: 13px;
    font-weight: 700;
}

.span-sl {
    display: inline-block;
    font-size: 12px;
    color: #373867;
    margin-bottom: 13px;
    font-family: roboto;
}

.span-adress {
    float: right;
    margin-right: 15px;
}

.am1 {
    width: 100px;
    height: 4px;
    border-radius: 60px;
    margin-bottom: 13px;
    background-color: #373867;
}

.menu-list {
    margin-bottom: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid #373867;
}

.menu-list-contact {
    margin-bottom: 13px;
    padding-bottom: 13px;
}

.menu-list>a {
    color: #373867;
    font-size: 12px;
}

.contact-icons {
    display: inline;
    width: 16px;
}

.sub-list {
    display: block;
    font-size: 12px;
    color: #373867;
    margin-bottom: 35px;
}

.sub-list a {
    text-decoration: none;
    color: #373867;
}

.sub-list>p {
    display: inline;
}

main {
    width: 1110px;
    display: inline;
    float: right;
    padding-left: 68px;
    padding-right: 78px;
    padding-top: 57px;
}

.first-section {
    height: 482px;
    border-bottom: 2px solid rgb(55, 56, 103, 10%);
}

.manage-hour {
    display: inline;
    width: 50%;
    height: 387px;
    float: left;
}

.title-fs {
    font-size: 40px;
    margin-bottom: 19.16px;
    font-weight: 700;
}

.subtitle-fs {
    font-size: 20px;
    margin-bottom: 42.14px;
    font-weight: 400;
}

.text-fs {
    font-size: 15px;
    margin-bottom: 18.7px;
    width: 516.53px;
}

.button-fs {
    position: relative;
    width: 149px;
    height: 46px;
    padding: 14px 36px;
    border-radius: 5px;
    left: 380px;
    background-color: white;
}

.productivity {
    display: inline;
    width: 520.2px;
    height: 387px;
    border-radius: 10px;
    float: right;
}

.second-section {
    margin-top: 57px;
    width: 1110px;
    height: 698px;
    border-bottom: 2px solid rgb(55, 56, 103, 10%);
}

.second-section h2 {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 700;
}

.box-color {
    background-color: #aace9b;
    width: 234px;
    height: 3px;
    border-radius: 3px;
    margin-bottom: 50px;
}

.second-section-a {
    width: 536px;
    height: 505px;
    float: left;
}

.second-section-b {
    width: 536px;
    height: 505px;
    float: right;
}

.second-section-ab {
    width: 534px;
    height: 213px;
}

.ss-img {
    width: 140px;
    height: 140px;
    display: inline;
    float: left;
    text-align: center;
    margin-right: 23px;
}

.funcionalities-text {
    display: inline-block;
    width: 314px;
    height: 144px;
    padding-top: 40px;
}

.funcionalities-text h3 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
}

.third-section {
    width: 1110px;
    height: 1487px;
    border-bottom: 2px solid rgb(55, 56, 103, 10%);
    margin-bottom: 57px;
}

.title-ts {
    font-size: 30px;
    margin-top: 57px;
    margin-bottom: 20px;
}

.box-color-ts {
    width: 700px;
    height: 3px;
    border-radius: 10px;
    margin-bottom: 48px;
    background-color: #aace9b;
}

.cards {
    position: relative;
    width: 400px;
    height: 581px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: rgb(55, 56, 103, 10%);
}

.subtitle-cards {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-card {
    font-size: 20px;
}

.button-card {
    position: absolute;
    width: 75px;
    height: 38px;
    border-radius: 5px;
    bottom: 20px;
}

.card-left {
    float: left;
}

.card-right {
    float: right;
    margin-right: 150.57px;
}

.images-card {
    width: 400px;
    height: 264px;
    border-radius: 10px;
}

.fourth-section-form {
    width: 1110px;
    height: 638px;
    border-bottom: 2px solid rgb(55, 56, 103, 10%);
    margin-bottom: 57px;
}

.title-form {
    font-size: 30px;
}

.box-color-fs {
    width: 297px;
    height: 3px;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: #aace9b;
}

.form-part-one {
    display: inline;
    width: 45%;
    float: left;
}

.name {
    display: block;
    width: 100%;
    margin-top: 7px;
}

.select-form {
    display: block;
    width: 100%;
    margin-top: 7px;
}

.form-part-two {
    display: inline-block;
    width: 45%;
    margin-left: 100px;
}

.mail-form {
    display: block;
    width: 100%;
    margin-top: 7px;
}

.radio-form {
    display: block;
    width: 80%;
    margin-top: 7px;
}

.form-part-three {
    width: 100%;
    margin-top: 7px;
}

.textarea {
    display: block;
    width: 99%;
    height: 117px;
    margin-top: 7px;
    margin-bottom: 40px;
}

.inputs-form {
    width: 100%;
    margin-bottom: 12px;
}

.form-part-four {
    margin-bottom: 40px;
}

.submit {
    width: 112.74px;
    height: 47px;
    background-color: #aace9b;
    border: none;
    border-radius: 5px;
}

.reset {
    width: 101.74px;
    height: 47px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-left: 41.25px;
}

.fifth-section {
    margin-bottom: 95px;
}

.title-five-section {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.box-color-history {
    width: 156px;
    height: 3px;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: #aace9b;
}

.tex-story {
    font-size: 20px;
    font-weight: 400;
}

.maps-site {
    width: 1110px;
    height: 267px;
    border-top: 3px solid rgb(55, 56, 103, 10%);
}

.container-ol-products {
    display: inline-block;
    width: 160px;
    height: 115px;
    margin-top: 57px;
    margin-right: 100px;
    margin-left: 100px;
}

.list-maps {
    margin-top: 2px;
    margin-bottom: 3px;
}

.list-maps a {
    text-decoration: none;
    font-size: 20px;
    color: #373867;
}

footer {
    display: inline-block;
    width: 1110px;
    height: 97px;
    border-top: 3px solid #aace9b;
    margin-right: 78px;
    margin-left: 251px;
}

.social-media {
    height: 40px;
    display: inline-block;
    margin-top: 30px;
}

.social-media a {
    text-decoration: none;
}

.icon-links {
    height: 40px;
    width: 40px;
    margin-right: 40px;
}

.footer-text {
    float: right;
    margin: 16px 12px 0px 297.74px;
}

.city {
    margin-bottom: 31px;
}